body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#card{
    color: rgb(0, 0, 0);
    width: 20rem;
    background-color: rgba(128, 194, 191, 0.45);
}

#tabla{
    color: rgb(0, 0, 0);
    background-color: rgba(128, 194, 191, 0.45);
}

input{
    background-color: rgba(255, 255, 255, 0.45);
}

.navbar{
    color: rgb(0, 0, 0);
    background-color: rgba(128, 194, 191, 0.45);
}

